<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EURO</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+SC">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat+Alternates">
    <link rel="stylesheet" href="{{url_for('static',filename='-Fixed-Navbar-start-with-transparency-background-BS4-.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='Dark-NavBar.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='Dark-NavBar.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='Dark-NavBar.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='Login-Form-Dark.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='animate.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
 <script src="{{url_for('static',filename='ajax.js')}}"></script>
 <script src="{{url_for('static',filename='bootstrap-notify.js')}}"></script>
 <script src="{{url_for('static',filename='bootstrap-notify.min.js')}}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://unpkg.com/ionicons@4.2.1/dist/ionicons.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

 <script src="{{url_for('static',filename='bootstrap-notify.min.js')}}"></script>
 <script src="{{url_for('static',filename='bootstrap-notify.js')}}"></script>

</head>

<style>
    .nav-link:hover{
        color: black;
    }
    

</style>
<body style="height:641px;color:rgb(98,106,115);font-family:Montserrat, sans-serif;">
    <div>
        <nav class="navbar navbar-light navbar-expand-md sticky-top shadow p-3 bg-dark" style="height:80px;background-color:#dee3e7;color:#ffffff;">
            <div class="container-fluid"><a class="navbar-brand" href="#" style="color:#fef3f3;width:42px;font-size:31px;font-family:Montserrat, sans-serif;">EURO</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="http://fixer.io" style="color:#ffffff;">Fixer.io</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="https://github.com/A8HYU04Y/Forex" style="color:#ffffff; "><ion-icon name="logo-github"></ion-icon>&nbsp;Github</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="#" style="color:#ffffff;"><i class="fa fa-user-circle-o"></i>&nbsp;Portfolio</a></li>
                        
                    </ul>
            </div>
    </div>
    </nav>
    </div>
    <div class="login-dark" style="height:577px;">
        <form id="form">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><ion-icon name="logo-euro"></ion-icon></div>
            <div class="form-group"><input class="form-control" type="text" 
                id="currency" name="currency" placeholder="Currency" autocomplete="off"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit" >Eurofy</button></div><p id="res" style="color: white"></p><BR><p class="forgot">For More Details Visit <a href="http://fixer.io">Fixer.io</a></form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
    <script src="{{url_for('static',filename='-Fixed-Navbar-start-with-transparency-background-BS4-.js')}}"></script>
    <script src="{{url_for('static',filename='bs-animation.js')}}"></script>
    </body>
<script src="https://unpkg.com/ionicons@4.2.1/dist/ionicons.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
   <script src="{{url_for('static',filename='bootstrap-notify.js')}}"></script>
  

</html>
